---
layout: default
street_dance: Street Dance
danca_salao: Dança de Salão Iniciado
zouk: Zouk Iniciado
salsa_bachata: Salsa &amp; Bachata
danca_salao_int: Dança de Salão Iniciante
zouk_inter: Zouk Intermediário
forro_samba: Forro &amp; Samba Iniciante
samba_inter: Samba Intermediário
ioga: Ioga
salsa_linha: Salsa em linha
forro_int: Forró Iniciante
forro_sert_inter: Forro &amp; Sertanejo Intermediário
tango_inter: Tango Intermediário
zouk_int: Zouk Iniciante
samba_bole: Samba &amp; Bolero Intermediário
bachata: Bachata Iniciado
samba_zouk: Zouk &amp; Samba Iniciante
---


<span id="highlight_page_id" class="hidden">3</span>
<section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="hs-line">Horários</h1>
                    <div class="hs-line-des">
                         Time de coreografos incríveis &amp;&nbsp;ótimas pessoas
                    </div>
                </div>
                <div class="col-md-4 mt-30">
                    <div class="mod-breadcrumbs">
                        <a href="index.html">Principal</a>&nbsp;/&nbsp;<span>Horários</span>
                    </div>

                </div>
            </div>
        </div>
</section>

{% if site.vacations_time? %}
    <section id="middle" class="light_section last_content_section">
        <div class="container">

            <div class="row">
                 <header class="section_header text-center">
                    <h2>{{ page.vacation_table }}</h2>
                    <h3>{{ page.vacation_first_table }}</h3>
                </header>
            </div>


            <div class="row">
                <div class="text-center filters col-sm-12">
                    <ul id="timetable_filter">
                        <li><a class="selected" data-filter="all" href="#" id="all_filters">Todas</a></li>
                        <li><a data-filter=".dance_tango_I" href="#" class="">{{ page.dance_tango_I }}</a></li>
                        <li><a data-filter=".dance_tango_II" href="#" class="">{{ page.dance_tango_II }}</a></li>
                        <li><a data-filter=".dance_samba_I" href="#" class="">{{ page.dance_samba_I }}</a></li>
                        <li><a data-filter=".dance_samba_II" href="#" class="">{{ page.dance_samba_II }}</a></li>
                        <li><a data-filter=".musical_teory_I" href="#" class="">{{ page.musical_teory_I }}</a></li>
                        <li><a data-filter=".musical_teory_II" href="#" class="">{{ page.musical_teory_II }}</a></li>
                        <li><a data-filter=".dance_zouk_I" href="#" class="">{{ page.dance_zouk_I }}</a></li>
                        <li><a data-filter=".dance_zouk_II" href="#" class="">{{ page.dance_zouk_II }}</a></li>
                        <li><a data-filter=".dance_salsa_I" href="#" class="">{{ page.dance_salsa_I }}</a></li>
                        <li><a data-filter=".dance_forro_I" href="#" class="">{{ page.dance_forro_I }}</a></li>
                        <li><a data-filter=".dance_forro_II" href="#" class="">{{ page.dance_forro_II }}</a></li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered timetable">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Segunda</th>
                                    <th>Terça</th>
                                    <th>Quarta</th>
                                    <th>Quinta</th>
                                    <th>Sexta</th>
                                    <th>Sábado</th>
                                    <th>Domingo</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <th>19:00 - 20:00</th>
                                    <td>
                                        <a href="./class-single.html" class="dance_tango_I">
                                            {{ page.dance_tango_I }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="dance_tango_I">
                                            {{ page.dance_tango_I }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="dance_tango_I">
                                            {{ page.dance_tango_I }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_tango_I">
                                            {{ page.dance_tango_I }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_tango_I">
                                            {{ page.dance_tango_I }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_tango_I">
                                            {{ page.dance_tango_I }}
                                        </a>
                                    </td>
                                    <td>
                                    </td>
                                </tr>

                                <tr>
                                  <th>19:00 - 20:00</th>
                                  <td>
                                      <a href="./class-single.html" class="dance_samba_I">
                                          {{ page.dance_samba_I }}
                                      </a>
                                  </td>

                                  <td>
                                      <a href="./class-single.html" class="dance_samba_I">
                                          {{ page.dance_samba_I }}
                                      </a>
                                  </td>

                                  <td>
                                      <a href="./class-single.html" class="dance_samba_I">
                                          {{ page.dance_samba_I }}
                                      </a>
                                  </td>
                                  <td>
                                      <a href="./class-single.html" class="dance_samba_I">
                                          {{ page.dance_samba_I }}
                                      </a>
                                  </td>
                                  <td>
                                      <a href="./class-single.html" class="dance_samba_I">
                                          {{ page.dance_samba_I }}
                                      </a>
                                  </td>
                                  <td>
                                      <a href="./class-single.html" class="dance_samba_I">
                                          {{ page.dance_samba_I }}
                                      </a>
                                  </td>
                                  <td>
                                  </td>
                                </tr>

                                <tr>
                                    <th>19:00 - 20:00</th>
                                    <td>
                                        <a href="./class-single.html" class="musical_teory_I">
                                            {{ page.musical_teory_I }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="musical_teory_I">
                                            {{ page.musical_teory_I }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="musical_teory_I">
                                            {{ page.musical_teory_I }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="musical_teory_I">
                                            {{ page.musical_teory_I }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="musical_teory_I">
                                            {{ page.musical_teory_I }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="musical_teory_I">
                                            {{ page.musical_teory_I }}
                                        </a>
                                    </td>
                                    <td>
                                    </td>
                                </tr>

                                <tr>
                                    <th>19:00 - 20:00</th>
                                    <td>
                                        <a href="./class-single.html" class="musical_teory_II">
                                            {{ page.musical_teory_II }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="musical_teory_II">
                                            {{ page.musical_teory_II }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="musical_teory_II">
                                            {{ page.musical_teory_II }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="musical_teory_II">
                                            {{ page.musical_teory_II }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="musical_teory_II">
                                            {{ page.musical_teory_II }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="musical_teory_II">
                                            {{ page.musical_teory_II }}
                                        </a>
                                    </td>
                                    <td>
                                    </td>
                                </tr>

                                <tr>
                                    <th>20:00 - 21:00</th>
                                    <td>
                                        <a href="./class-single.html" class="dance_zouk_I">
                                            {{ page.dance_zouk_I }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="dance_zouk_I">
                                            {{ page.dance_zouk_I }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="dance_zouk_I">
                                            {{ page.dance_zouk_I }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_zouk_I">
                                            {{ page.dance_zouk_I }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_zouk_I">
                                            {{ page.dance_zouk_I }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_zouk_I">
                                            {{ page.dance_zouk_I }}
                                        </a>
                                    </td>
                                    <td>
                                    </td>
                                </tr>

                                <tr>
                                    <th>20:00 - 21:00</th>
                                    <td>
                                        <a href="./class-single.html" class="dance_forro_I">
                                            {{ page.dance_forro_I }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="dance_forro_I">
                                            {{ page.dance_forro_I }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="dance_forro_I">
                                            {{ page.dance_forro_I }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_forro_I">
                                            {{ page.dance_forro_I }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_forro_I">
                                            {{ page.dance_forro_I }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_forro_I">
                                            {{ page.dance_forro_I }}
                                        </a>
                                    </td>
                                    <td>
                                    </td>
                                </tr>


                                <tr>
                                    <th>20:00 - 21:00</th>
                                    <td>
                                        <a href="./class-single.html" class="dance_forro_II">
                                            {{ page.dance_forro_II }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="dance_forro_II">
                                              {{ page.dance_forro_II }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="dance_forro_II">
                                            {{ page.dance_forro_II }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_forro_II">
                                            {{ page.dance_forro_II }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_forro_II">
                                            {{ page.dance_forro_II }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_forro_II">
                                            {{ page.dance_forro_II }}
                                        </a>
                                    </td>
                                    <td>
                                    </td>
                                </tr>


                                <tr>
                                    <th>20:00 - 21:00</th>
                                    <td>
                                        <a href="./class-single.html" class="dance_salsa_I">
                                            {{ page.dance_salsa_I }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="dance_salsa_I">
                                            {{ page.dance_salsa_I }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="dance_salsa_I">
                                            {{ page.dance_salsa_I }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_salsa_I">
                                            {{ page.dance_salsa_I }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_salsa_I">
                                            {{ page.dance_salsa_I }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_salsa_I">
                                            {{ page.dance_salsa_I }}
                                        </a>
                                    </td>
                                    <td>
                                    </td>
                                </tr>


                                <tr>
                                    <th>21:00 - 22:00</th>
                                    <td>
                                        <a href="./class-single.html" class="dance_zouk_II">
                                            {{ page.dance_zouk_II }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="dance_zouk_II">
                                            {{ page.dance_zouk_II }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="dance_zouk_II">
                                            {{ page.dance_zouk_II }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_zouk_II">
                                            {{ page.dance_zouk_II }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_zouk_II">
                                            {{ page.dance_zouk_II }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_zouk_II">
                                            {{ page.dance_zouk_II }}
                                        </a>
                                    </td>
                                    <td>
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="container change_distance_table">
            <div class="row">
                 <header class="section_header text-center">
                    <h3>{{ page.vacation_second_table }}</h3>
                </header>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered timetable">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Segunda</th>
                                    <th>Terça</th>
                                    <th>Quarta</th>
                                    <th>Quinta</th>
                                    <th>Sexta</th>
                                    <th>Sábado</th>
                                    <th>Domingo</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>

                                        <th>19:00 - 20:00</th>
                                        <td>
                                            <a href="./class-single.html" class="dance_forro_I">
                                                {{ page.dance_forro_I }}
                                            </a>
                                        </td>

                                        <td>
                                            <a href="./class-single.html" class="dance_forro_I">
                                                {{ page.dance_forro_I }}
                                            </a>
                                        </td>

                                        <td>
                                            <a href="./class-single.html" class="dance_forro_I">
                                                {{ page.dance_forro_I }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="./class-single.html" class="dance_forro_I">
                                                {{ page.dance_forro_I }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="./class-single.html" class="dance_forro_I">
                                                {{ page.dance_forro_I }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="./class-single.html" class="dance_forro_I">
                                                {{ page.dance_forro_I }}
                                            </a>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>


                                    <tr>
                                        <th>20:00 - 21:00</th>
                                        <td>
                                            <a href="./class-single.html" class="dance_forro_II">
                                                {{ page.dance_forro_II }}
                                            </a>
                                        </td>

                                        <td>
                                            <a href="./class-single.html" class="dance_forro_II">
                                                {{ page.dance_forro_II }}
                                            </a>
                                        </td>

                                        <td>
                                            <a href="./class-single.html" class="dance_forro_II">
                                                {{ page.dance_forro_II }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="./class-single.html" class="dance_forro_II">
                                                {{ page.dance_forro_II }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="./class-single.html" class="dance_forro_II">
                                                {{ page.dance_forro_II }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="./class-single.html" class="dance_forro_II">
                                                {{ page.dance_forro_II }}
                                            </a>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>


                                    <tr>
                                        <th>20:00 - 21:00</th>
                                        <td>
                                            <a href="./class-single.html" class="dance_zouk_II">
                                                {{ page.dance_zouk_II }}
                                            </a>
                                        </td>

                                        <td>
                                            <a href="./class-single.html" class="dance_zouk_II">
                                                {{ page.dance_zouk_II }}
                                            </a>
                                        </td>

                                        <td>
                                            <a href="./class-single.html" class="dance_zouk_II">
                                                {{ page.dance_zouk_II }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="./class-single.html" class="dance_zouk_II">
                                                {{ page.dance_zouk_II }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="./class-single.html" class="dance_zouk_II">
                                                {{ page.dance_zouk_II }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="./class-single.html" class="dance_zouk_II">
                                                {{ page.dance_zouk_II }}
                                            </a>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>


                                    <tr>
                                        <th>20:00 - 21:00</th>
                                        <td>
                                            <a href="./class-single.html" class="dance_samba_II">
                                                {{ page.dance_samba_II }}
                                            </a>
                                        </td>

                                        <td>
                                            <a href="./class-single.html" class="dance_samba_II">
                                                {{ page.dance_samba_II }}
                                            </a>
                                        </td>

                                        <td>
                                            <a href="./class-single.html" class="dance_samba_II">
                                                {{ page.dance_samba_II }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="./class-single.html" class="dance_samba_II">
                                                {{ page.dance_samba_II }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="./class-single.html" class="dance_samba_II">
                                                {{ page.dance_samba_II }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="./class-single.html" class="dance_samba_II">
                                                {{ page.dance_samba_II }}
                                            </a>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>


                                    <tr>
                                        <th>20:00 - 21:00</th>
                                        <td>
                                            <a href="./class-single.html" class="dance_tango_II">
                                                {{ page.dance_tango_II }}
                                            </a>
                                        </td>

                                        <td>
                                            <a href="./class-single.html" class="dance_tango_II">
                                                {{ page.dance_tango_II }}
                                            </a>
                                        </td>

                                        <td>
                                            <a href="./class-single.html" class="dance_tango_II">
                                                {{ page.dance_tango_II }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="./class-single.html" class="dance_tango_II">
                                                {{ page.dance_tango_II }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="./class-single.html" class="dance_tango_II">
                                                {{ page.dance_tango_II }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="./class-single.html" class="dance_tango_II">
                                                {{ page.dance_tango_II }}
                                            </a>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
  </section>
{% endif %}

{% if site.vacations_time? == false %}
<section id="middle" class="light_section last_content_section">
    <div class="container">

        <div class="row">
             <header class="section_header text-center">
                <h2>Turmas regulares</h2>
            </header>
        </div>

        <div class="row">
            <div class="text-center filters col-sm-12">
                <ul id="timetable_filter">
                    <li><a class="selected" data-filter="all" href="#" id="all_filters">Todas</a></li>
                    <li><a data-filter=".street_dance" href="#" class="">{{ page.street_dance }}</a></li>
                    <li><a data-filter=".danca_salao" href="#" class="">{{ page.danca_salao }}</a></li>
                    <li><a data-filter=".danca_salao_int" href="#" class="">{{ page.danca_salao_int }}</a></li>
                    <li><a data-filter=".zouk" href="#" class="">{{ page.zouk }}</a></li>
                    <li><a data-filter=".zouk_int" href="#" class="">{{ page.zouk_int }}</a></li>
                    <li><a data-filter=".zouk_inter" href="#" class="">{{ page.zouk_inter }}</a></li>
                    <li><a data-filter=".samba_zouk" href="#" class="">{{ page.samba_zouk }}</a></li>
                    <li><a data-filter=".samba_inter" href="#" class="">{{ page.samba_inter }}</a></li>
                    <li><a data-filter=".samba_bole" href="#" class="">{{ page.samba_bole }}</a></li>
                    <li><a data-filter=".forro_samba" href="#" class="">{{ page.forro_samba }}</a></li>
                    <li><a data-filter=".forro_int" href="#" class="">{{ page.forro_int }}</a></li>
                    <li><a data-filter=".forro_sert_inter" href="#" class="">{{ page.forro_sert_inter }}</a></li>
                    <li><a data-filter=".tango_inter" href="#" class="">{{ page.tango_inter }}</a></li>
                    <li><a data-filter=".salsa_linha" href="#" class="">{{ page.salsa_linha }}</a></li>
                    <li><a data-filter=".salsa_bachata" href="#" class="">{{ page.salsa_bachata }}</a></li>
                    <li><a data-filter=".bachata" href="#" class="">{{ page.bachata }}</a></li>
                    <li><a data-filter=".ioga" href="#" class="">{{ page.ioga }}</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered timetable">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Segunda</th>
                                <th>Terça</th>
                                <th>Quarta</th>
                                <th>Quinta</th>
                                <th>Sábado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>10h30</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><a href="dança-de-salão" class="danca_salao_int">{{ page.danca_salao_int }}</a></td>

                            </tr>

                            <tr>
                                <th>15h</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><a href="#" class="ioga">{{ page.ioga }}</a></td>

                            </tr>

                            <tr>
                                <th>16h30</th>

                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><a href="#" class="street_dance">{{ page.street_dance }}</a></td>

                            </tr>

                            <tr>
                                <th>17h30</th>
                                <td></td>
                                <td><a href="#" class="ioga">{{ page.ioga }}</a></td>
                                <td></td>
                                <td><a href="#" class="ioga">{{ page.ioga }}</a></td>
                                <td></td>

                            </tr>

                            <tr>
                                <th>19h</th>
                                <td><a href="#" class="street_dance">{{ page.street_dance }}</a></td>
                                <td><a href="#" class="ioga">{{ page.ioga }}</a></td>
                                <td><a href="#" class="street_dance">{{ page.street_dance }}</a></td>
                                <td><a href="#" class="ioga">{{ page.ioga }}</a></td>
                                <td></td>

                            </tr>

                            <tr>
                                <th>19h</th>
                                <td><a href="dança-de-salão" class="danca_salao">{{ page.danca_salao }}</a></td>
                                <td><a href="dança-de-salão" class="danca_salao_int">{{ page.danca_salao_int }}</a></td>
                                <td><a href="dança-de-salão" class="danca_salao">{{ page.danca_salao }}</a></td>
                                <td><a href="forro" class="forro_int">{{ page.forro_int }}</a></td>
                                <td></td>

                            </tr>

                            <tr>
                                <th>19h</th>
                                <td><a href="zouk" class="zouk">{{ page.zouk }}</a></td>
                                <td><a href="salsa" class="salsa_linha">{{ page.salsa_linha }}</a></td>
                                <td><a href="zouk" class="zouk">{{ page.zouk }}</a></td>
                                <td><a href="salsa" class="salsa_linha">{{ page.salsa_linha }}</a></td>
                                <td></td>

                            </tr>

                            <tr>
                                <th>19h</th>
                                <td><a href="salsa" class="salsa_bachata">{{ page.salsa_bachata }}</a></td>
                                <td><a href="dança-de-salão" class="danca_salao_int">{{ page.danca_salao_int }}</a></td>
                                <td><a href="salsa" class="salsa_bachata">{{ page.salsa_bachata }}</a></td>
                                <td><a href="dança-de-salão" class="danca_salao_int">{{ page.danca_salao_int }}</a></td>
                                <td></td>

                            </tr>


                            <tr>
                                <th>20h</th>
                                <td><a href="dança-de-salão" class="danca_salao_int">{{ page.danca_salao_int }}</a></td>
                                <td><a href="forro" class="forro_sert_inter">{{ page.forro_sert_inter }}</a></td>
                                <td><a href="dança-de-salão" class="danca_salao_int">{{ page.danca_salao_int }}</a></td>
                                <td><a href="forro" class="forro_sert_inter">{{ page.forro_sert_inter }}</a></td>
                                <td></td>

                            </tr>


                            <tr>
                                <th>20h</th>
                                <td><a href="zouk" class="zouk_inter">{{ page.zouk_inter }}</a></td>
                                <td><a href="dança-de-salão" class="danca_salao">{{ page.danca_salao }}</a></td>
                                <td><a href="zouk" class="zouk_inter">{{ page.zouk_inter }}</a></td>
                                <td><a href="dança-de-salão" class="danca_salao">{{ page.danca_salao }}</a></td>
                                <td></td>

                            </tr>


                            <tr>
                                <th>20h</th>
                                <td><a href="dança-de-salão" class="danca_salao">{{ page.danca_salao }}</a></td>
                                <td><a href="tango" class="tango_inter">{{ page.tango_inter }}</a></td>
                                <td><a href="dança-de-salão" class="danca_salao">{{ page.danca_salao }}</a></td>
                                <td><a href="tango" class="tango_inter">{{ page.tango_inter }}</a></td>
                                <td></td>

                            </tr>


                            <tr>
                                <th>20h</th>
                                <td></td>
                                <td><a href="zouk" class="zouk_int">{{ page.zouk_int }}</a></td>
                                <td></td>
                                <td><a href="zouk" class="zouk_int">{{ page.zouk_int }}</a></td>
                                <td></td>

                            </tr>


                            <tr>
                                <th>21h</th>
                                <td><a href="forro" class="forro_samba">{{ page.forro_samba }}</a></td>
                                <td><a href="samba" class="samba_bole">{{ page.samba_bole }}</a></td>
                                <td><a href="samba" class="forro_samba">{{ page.forro_samba }}</a></td>
                                <td><a href="samba" class="samba_bole">{{ page.samba_bole }}</a></td>
                                <td></td>

                            </tr>


                            <tr>
                                <th>21h</th>
                                <td><a href="samba" class="samba_inter">{{ page.samba_inter }}</a></td>
                                <td><a href="bachata" class="bachata">{{ page.bachata }}</a></td>
                                <td><a href="samba" class="samba_inter">{{ page.samba_inter }}</a></td>
                                <td><a href="bachata" class="bachata">{{ page.bachata }}</a></td>
                                <td></td>
                                <td></td>

                            </tr>

                            <tr>
                                <th>21h</th>
                                <td></td>
                                <td><a href="samba" class="samba_zouk">{{ page.samba_zouk }}</a></td>
                                <td></td>
                                <td><a href="zouk" class="samba_zouk">{{ page.samba_zouk }}</a></td>
                                <td></td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </section>
{% endif %}
