---
layout: default
vacation_table: Horários dos cursos de férias • Julho/2017
vacation_first_table: Primeira quinzena do curso de férias
vacation_second_table: Segunda quinzena do curso de férias
dance_zouk_I: Zouk iniciante
dance_zouk_II: Zouk intermediário
dance_forro_I: Forró iniciante
dance_forro_II: Forró intermediário
dance_tango_I: Tango iniciante
dance_tango_II: Tango intermediário
dance_samba_I: Samba iniciante
dance_samba_II: Samba intermediário
dance_salsa_I: Salsa iniciante
dance_chachacha_I: Cha cha cha iniciante
musical_teory_I: Teoria musical I
musical_teory_II: Teoria musical II
musical_teory_III: Anatomia aplicada a dança de salão
---


<span id="highlight_page_id" class="hidden">3</span>
<section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="hs-line">Horários</h1>
                    <div class="hs-line-des">
                         Time de coreografos incríveis &amp;&nbsp;ótimas pessoas
                    </div>
                </div>
                <div class="col-md-4 mt-30">
                    <div class="mod-breadcrumbs">
                        <a href="index.html">Principal</a>&nbsp;/&nbsp;<span>Horários</span>
                    </div>

                </div>
            </div>
        </div>
</section>

{% if site.vacations_time? %}
    <section id="middle" class="light_section last_content_section">
        <div class="container">

            <div class="row">
                 <header class="section_header text-center">
                    <h2>{{ page.vacation_table }}</h2>
                    <h3>{{ page.vacation_first_table }}</h3>
                </header>
            </div>


            <div class="row">
                <div class="text-center filters col-sm-12">
                    <ul id="timetable_filter">
                        <li><a class="selected" data-filter="all" href="#">Todas</a></li>
                        <li><a data-filter=".dance_tango_I" href="#" class="">{{ page.dance_tango_I }}</a></li>
                        <li><a data-filter=".dance_tango_II" href="#" class="">{{ page.dance_tango_II }}</a></li>
                        <li><a data-filter=".dance_samba_I" href="#" class="">{{ page.dance_samba_I }}</a></li>
                        <li><a data-filter=".dance_samba_II" href="#" class="">{{ page.dance_samba_II }}</a></li>
                        <li><a data-filter=".musical_teory_I" href="#" class="">{{ page.musical_teory_I }}</a></li>
                        <li><a data-filter=".musical_teory_II" href="#" class="">{{ page.musical_teory_II }}</a></li>
                        <li><a data-filter=".musical_teory_III" href="#" class="">{{ page.musical_teory_III }}</a></li>
                        <li><a data-filter=".dance_zouk_I" href="#" class="">{{ page.dance_zouk_I }}</a></li>
                        <li><a data-filter=".dance_zouk_II" href="#" class="">{{ page.dance_zouk_II }}</a></li>
                        <li><a data-filter=".dance_salsa_I" href="#" class="">{{ page.dance_salsa_I }}</a></li>
                        <li><a data-filter=".dance_chachacha_I" href="#" class="">{{ page.dance_chachacha_I }}</a></li>
                        <li><a data-filter=".dance_forro_I" href="#" class="">{{ page.dance_forro_I }}</a></li>
                        <li><a data-filter=".dance_forro_II" href="#" class="">{{ page.dance_forro_II }}</a></li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered timetable">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Segunda</th>
                                    <th>Terça</th>
                                    <th>Quarta</th>
                                    <th>Quinta</th>
                                    <th>Sexta</th>
                                    <th>Sábado</th>
                                    <th>Domingo</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <th>19:00 - 20:00</th>
                                    <td>
                                        <a href="./class-single.html" class="dance_tango_I">
                                            {{ page.dance_tango_I }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="dance_tango_I">
                                            {{ page.dance_tango_I }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="dance_tango_I">
                                            {{ page.dance_tango_I }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_tango_I">
                                            {{ page.dance_tango_I }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_tango_I">
                                            {{ page.dance_tango_I }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_tango_I">
                                            {{ page.dance_tango_I }}
                                        </a>
                                    </td>
                                    <td>
                                    </td>
                                </tr>

                                <tr>
                                  <th>19:00 - 20:00</th>
                                  <td>
                                      <a href="./class-single.html" class="dance_samba_I">
                                          {{ page.dance_samba_I }}
                                      </a>
                                  </td>

                                  <td>
                                      <a href="./class-single.html" class="dance_samba_I">
                                          {{ page.dance_samba_I }}
                                      </a>
                                  </td>

                                  <td>
                                      <a href="./class-single.html" class="dance_samba_I">
                                          {{ page.dance_samba_I }}
                                      </a>
                                  </td>
                                  <td>
                                      <a href="./class-single.html" class="dance_samba_I">
                                          {{ page.dance_samba_I }}
                                      </a>
                                  </td>
                                  <td>
                                      <a href="./class-single.html" class="dance_samba_I">
                                          {{ page.dance_samba_I }}
                                      </a>
                                  </td>
                                  <td>
                                      <a href="./class-single.html" class="dance_samba_I">
                                          {{ page.dance_samba_I }}
                                      </a>
                                  </td>
                                  <td>
                                  </td>
                                </tr>

                                <tr>
                                    <th>19:00 - 20:00</th>
                                    <td>
                                        <a href="./class-single.html" class="musical_teory_I">
                                            {{ page.musical_teory_I }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="musical_teory_I">
                                            {{ page.musical_teory_I }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="musical_teory_I">
                                            {{ page.musical_teory_I }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="musical_teory_I">
                                            {{ page.musical_teory_I }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="musical_teory_I">
                                            {{ page.musical_teory_I }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="musical_teory_I">
                                            {{ page.musical_teory_I }}
                                        </a>
                                    </td>
                                    <td>
                                    </td>
                                </tr>

                                <tr>
                                    <th>19:00 - 20:00</th>
                                    <td>
                                        <a href="./class-single.html" class="musical_teory_II">
                                            {{ page.musical_teory_II }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="musical_teory_II">
                                            {{ page.musical_teory_II }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="musical_teory_II">
                                            {{ page.musical_teory_II }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="musical_teory_II">
                                            {{ page.musical_teory_II }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="musical_teory_II">
                                            {{ page.musical_teory_II }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="musical_teory_II">
                                            {{ page.musical_teory_II }}
                                        </a>
                                    </td>
                                    <td>
                                    </td>
                                </tr>

                                <tr>
                                    <th>20:00 - 21:00</th>
                                    <td>
                                        <a href="./class-single.html" class="dance_zouk_I">
                                            {{ page.dance_zouk_I }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="dance_zouk_I">
                                            {{ page.dance_zouk_I }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="dance_zouk_I">
                                            {{ page.dance_zouk_I }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_zouk_I">
                                            {{ page.dance_zouk_I }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_zouk_I">
                                            {{ page.dance_zouk_I }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_zouk_I">
                                            {{ page.dance_zouk_I }}
                                        </a>
                                    </td>
                                    <td>
                                    </td>
                                </tr>

                                <tr>
                                    <th>20:00 - 21:00</th>
                                    <td>
                                        <a href="./class-single.html" class="dance_forro_I">
                                            {{ page.dance_forro_I }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="dance_forro_I">
                                            {{ page.dance_forro_I }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="dance_forro_I">
                                            {{ page.dance_forro_I }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_forro_I">
                                            {{ page.dance_forro_I }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_forro_I">
                                            {{ page.dance_forro_I }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_forro_I">
                                            {{ page.dance_forro_I }}
                                        </a>
                                    </td>
                                    <td>
                                    </td>
                                </tr>


                                <tr>
                                    <th>20:00 - 21:00</th>
                                    <td>
                                        <a href="./class-single.html" class="dance_forro_II">
                                            {{ page.dance_forro_II }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="dance_forro_II">
                                              {{ page.dance_forro_II }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="dance_forro_II">
                                            {{ page.dance_forro_II }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_forro_II">
                                            {{ page.dance_forro_II }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_forro_II">
                                            {{ page.dance_forro_II }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_forro_II">
                                            {{ page.dance_forro_II }}
                                        </a>
                                    </td>
                                    <td>
                                    </td>
                                </tr>


                                <tr>
                                    <th>20:00 - 21:00</th>
                                    <td>
                                        <a href="./class-single.html" class="dance_salsa_I">
                                            {{ page.dance_salsa_I }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="dance_salsa_I">
                                            {{ page.dance_salsa_I }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="dance_salsa_I">
                                            {{ page.dance_salsa_I }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_salsa_I">
                                            {{ page.dance_salsa_I }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_salsa_I">
                                            {{ page.dance_salsa_I }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_salsa_I">
                                            {{ page.dance_salsa_I }}
                                        </a>
                                    </td>
                                    <td>
                                    </td>
                                </tr>

                                <tr>
                                    <th>20:00 - 21:00</th>
                                    <td>
                                        <a href="./class-single.html" class="dance_chachacha_I">
                                            {{ page.dance_chachacha_I }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="dance_chachacha_I">
                                            {{ page.dance_chachacha_I }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="dance_chachacha_I">
                                            {{ page.dance_chachacha_I }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_chachacha_I">
                                            {{ page.dance_chachacha_I }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_chachacha_I">
                                            {{ page.dance_chachacha_I }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_chachacha_I">
                                            {{ page.dance_chachacha_I }}
                                        </a>
                                    </td>
                                    <td>
                                    </td>
                                </tr>


                                <tr>
                                    <th>21:00 - 22:00</th>
                                    <td>
                                        <a href="./class-single.html" class="dance_zouk_II">
                                            {{ page.dance_zouk_II }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="dance_zouk_II">
                                            {{ page.dance_zouk_II }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="dance_zouk_II">
                                            {{ page.dance_zouk_II }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_zouk_II">
                                            {{ page.dance_zouk_II }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_zouk_II">
                                            {{ page.dance_zouk_II }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="dance_zouk_II">
                                            {{ page.dance_zouk_II }}
                                        </a>
                                    </td>
                                    <td>
                                    </td>
                                </tr>


                                <tr>
                                    <th>21:00 - 22:00</th>
                                    <td>
                                        <a href="./class-single.html" class="musical_teory_III">
                                            {{ page.musical_teory_III }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="musical_teory_III">
                                            {{ page.musical_teory_III }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="./class-single.html" class="musical_teory_III">
                                            {{ page.musical_teory_III }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="musical_teory_III">
                                            {{ page.musical_teory_III }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="musical_teory_III">
                                            {{ page.musical_teory_III }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="./class-single.html" class="musical_teory_III">
                                            {{ page.musical_teory_III }}
                                        </a>
                                    </td>
                                    <td>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                 <header class="section_header text-center">
                    <h3>{{ page.vacation_second_table }}</h3>
                </header>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered timetable">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Segunda</th>
                                    <th>Terça</th>
                                    <th>Quarta</th>
                                    <th>Quinta</th>
                                    <th>Sexta</th>
                                    <th>Sábado</th>
                                    <th>Domingo</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>

                                        <th>19:00 - 20:00</th>
                                        <td>
                                            <a href="./class-single.html" class="dance_forro_I">
                                                {{ page.dance_forro_I }}
                                            </a>
                                        </td>

                                        <td>
                                            <a href="./class-single.html" class="dance_forro_I">
                                                {{ page.dance_forro_I }}
                                            </a>
                                        </td>

                                        <td>
                                            <a href="./class-single.html" class="dance_forro_I">
                                                {{ page.dance_forro_I }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="./class-single.html" class="dance_forro_I">
                                                {{ page.dance_forro_I }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="./class-single.html" class="dance_forro_I">
                                                {{ page.dance_forro_I }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="./class-single.html" class="dance_forro_I">
                                                {{ page.dance_forro_I }}
                                            </a>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>


                                    <tr>
                                        <th>20:00 - 21:00</th>
                                        <td>
                                            <a href="./class-single.html" class="dance_forro_II">
                                                {{ page.dance_forro_II }}
                                            </a>
                                        </td>

                                        <td>
                                            <a href="./class-single.html" class="dance_forro_II">
                                                {{ page.dance_forro_II }}
                                            </a>
                                        </td>

                                        <td>
                                            <a href="./class-single.html" class="dance_forro_II">
                                                {{ page.dance_forro_II }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="./class-single.html" class="dance_forro_II">
                                                {{ page.dance_forro_II }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="./class-single.html" class="dance_forro_II">
                                                {{ page.dance_forro_II }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="./class-single.html" class="dance_forro_II">
                                                {{ page.dance_forro_II }}
                                            </a>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>


                                    <tr>
                                        <th>20:00 - 21:00</th>
                                        <td>
                                            <a href="./class-single.html" class="dance_zouk_II">
                                                {{ page.dance_zouk_II }}
                                            </a>
                                        </td>

                                        <td>
                                            <a href="./class-single.html" class="dance_zouk_II">
                                                {{ page.dance_zouk_II }}
                                            </a>
                                        </td>

                                        <td>
                                            <a href="./class-single.html" class="dance_zouk_II">
                                                {{ page.dance_zouk_II }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="./class-single.html" class="dance_zouk_II">
                                                {{ page.dance_zouk_II }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="./class-single.html" class="dance_zouk_II">
                                                {{ page.dance_zouk_II }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="./class-single.html" class="dance_zouk_II">
                                                {{ page.dance_zouk_II }}
                                            </a>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>


                                    <tr>
                                        <th>20:00 - 21:00</th>
                                        <td>
                                            <a href="./class-single.html" class="dance_samba_II">
                                                {{ page.dance_samba_II }}
                                            </a>
                                        </td>

                                        <td>
                                            <a href="./class-single.html" class="dance_samba_II">
                                                {{ page.dance_samba_II }}
                                            </a>
                                        </td>

                                        <td>
                                            <a href="./class-single.html" class="dance_samba_II">
                                                {{ page.dance_samba_II }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="./class-single.html" class="dance_samba_II">
                                                {{ page.dance_samba_II }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="./class-single.html" class="dance_samba_II">
                                                {{ page.dance_samba_II }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="./class-single.html" class="dance_samba_II">
                                                {{ page.dance_samba_II }}
                                            </a>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>


                                    <tr>
                                        <th>20:00 - 21:00</th>
                                        <td>
                                            <a href="./class-single.html" class="dance_tango_II">
                                                {{ page.dance_tango_II }}
                                            </a>
                                        </td>

                                        <td>
                                            <a href="./class-single.html" class="dance_tango_II">
                                                {{ page.dance_tango_II }}
                                            </a>
                                        </td>

                                        <td>
                                            <a href="./class-single.html" class="dance_tango_II">
                                                {{ page.dance_tango_II }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="./class-single.html" class="dance_tango_II">
                                                {{ page.dance_tango_II }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="./class-single.html" class="dance_tango_II">
                                                {{ page.dance_tango_II }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="./class-single.html" class="dance_tango_II">
                                                {{ page.dance_tango_II }}
                                            </a>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
  </section>
{% endif %}

{% if site.vacations_time? == false %}
<section id="middle" class="light_section last_content_section">
    <div class="container">

        <div class="row">
             <header class="section_header text-center">
                <h2>Horários dos cursos regulares</h2>
            </header>
        </div>


        <div class="row">
            <div class="text-center filters col-sm-12">
                <ul id="timetable_filter">
                    <li><a class="selected" data-filter="all" href="#">Todas</a></li>
                    <li><a data-filter=".Ballet" href="#" class="">Ballet</a></li>
                    <li><a data-filter=".Hip-Hop" href="#" class="">Hip-Hop</a></li>
                    <li><a data-filter=".Jazz" href="#" class="">Jazz</a></li>
                    <li><a data-filter=".Latin" href="#" class="">Latin</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered timetable">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Segunda</th>
                                <th>Terça</th>
                                <th>Quarta</th>
                                <th>Quinta</th>
                                <th>Sexta</th>
                                <th>Sábado</th>
                                <th>Domingo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>8:00 - 9:00</th>
                                <td>
                                    <a href="./class-single.html" class="Ballet">
                                        Ballet
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Jazz">
                                        Jazz
                                    </a>
                                </td>
                                <td>

                                </td>
                                <td>
                                    <a href="./class-single.html" class="Latin">
                                        Latin
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Hip-Hop">
                                        Hip-Hop
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Ballet">
                                        Ballet
                                    </a>
                                </td>
                                <td>

                                </td>
                            </tr>

                            <tr>
                                <th>9:00 - 10:00</th>
                                <td>

                                </td>
                                <td>
                                    <a href="./class-single.html" class="Hip-Hop">
                                        Hip-Hop
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Hip-Hop">
                                        Hip-Hop
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Jazz">
                                        Jazz
                                    </a>
                                </td>
                                <td>

                                </td>
                                <td>
                                    <a href="./class-single.html" class="Ballet">
                                        Ballet
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Hip-Hop">
                                        Hip-Hop
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <th>10:00 - 11:00</th>
                                <td>
                                    <a href="./class-single.html" class="Hip-Hop">
                                        Hip-Hop
                                    </a>
                                </td>
                                <td>

                                </td>
                                <td>
                                    <a href="./class-single.html" class="Hip-Hop">
                                        Hip-Hop
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Jazz">
                                        Jazz
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Ballet">
                                        Ballet
                                    </a>
                                </td>
                                <td>

                                </td>
                                <td>
                                    <a href="./class-single.html" class="Latin">
                                        Latin
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <th>11:00 - 12:00</th>
                                <td>
                                    <a href="./class-single.html" class="Hip-Hop">
                                        Hip-Hop
                                    </a>
                                </td>
                                <td>

                                </td>
                                <td>
                                    <a href="./class-single.html" class="Ballet">
                                        Ballet
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Hip-Hop">
                                        Hip-Hop
                                    </a>
                                </td>
                                <td>

                                </td>
                                <td>
                                    <a href="./class-single.html" class="Ballet">
                                        Ballet
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Jazz">
                                        Jazz
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <th>12:00 - 13:00</th>
                                <td>
                                    <a href="./class-single.html" class="Hip-Hop">
                                        Hip-Hop
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Latin">
                                        Latin
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Hip-Hop">
                                        Hip-Hop
                                    </a>
                                </td>
                                <td>

                                </td>
                                <td>
                                    <a href="./class-single.html" class="Jazz">
                                        Jazz
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Ballet">
                                        Ballet
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Latin">
                                        Latin
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <th>13:00 - 14:00</th>
                                <td>
                                    <a href="./class-single.html" class="Hip-Hop">
                                        Hip-Hop
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Latin">
                                        Latin
                                    </a>
                                </td>
                                <td>

                                </td>
                                <td>
                                    <a href="./class-single.html" class="Ballet">
                                        Ballet
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Jazz">
                                        Jazz
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Hip-Hop">
                                        Hip-Hop
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Ballet">
                                        Ballet
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <th>14:00 - 15:00</th>
                                <td>
                                    <a href="./class-single.html" class="Hip-Hop">
                                        Hip-Hop
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Jazz">
                                        Jazz
                                    </a>
                                </td>
                                <td>

                                </td>
                                <td>
                                    <a href="./class-single.html" class="Latin">
                                        Latin
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Hip-Hop">
                                        Hip-Hop
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Jazz">
                                        Jazz
                                    </a>
                                </td>
                                <td>

                                </td>
                            </tr>

                            <tr>
                                <th>15:00 - 16:00</th>
                                <td>

                                </td>
                                <td>
                                    <a href="./class-single.html" class="Ballet">
                                        Ballet
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Hip-Hop">
                                        Hip-Hop
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Ballet">
                                        Ballet
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Hip-Hop">
                                        Hip-Hop
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Latin">
                                        Latin
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Jazz">
                                        Jazz
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <th>16:00 - 17:00</th>
                                <td>
                                    <a href="./class-single.html" class="Hip-Hop">
                                        Hip-Hop
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Jazz">
                                        Jazz
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Latin">
                                        Latin
                                    </a>
                                </td>
                                <td>

                                </td>
                                <td>
                                    <a href="./class-single.html" class="Jazz">
                                        Jazz
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Ballet">
                                        Ballet
                                    </a>
                                </td>
                                <td></td>
                            </tr>


                            <tr>
                                <th>17:00 - 18:00</th>
                                <td>
                                    <a href="./class-single.html" class="Hip-Hop">
                                        Hip-Hop
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Jazz">
                                        Jazz
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Latin">
                                        Latin
                                    </a>
                                </td>
                                <td>

                                </td>
                                <td>
                                    <a href="./class-single.html" class="Jazz">
                                        Jazz
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Hip-Hop">
                                        Hip-Hop
                                    </a>
                                </td>
                                <td></td>
                            </tr>


                            <tr>
                                <th>18:00 - 19:00</th>
                                <td>
                                    <a href="./class-single.html" class="Ballet">
                                        Ballet
                                    </a>
                                </td>
                                <td></td>
                                <td>
                                    <a href="./class-single.html" class="Jazz">
                                        Jazz
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Hip-Hop">
                                        Hip-Hop
                                    </a>
                                </td>
                                <td></td>
                                <td>
                                    <a href="./class-single.html" class="Hip-Hop">
                                        Hip-Hop
                                    </a>
                                </td>
                                <td></td>
                            </tr>


                            <tr>
                                <th>19:00 - 20:00</th>
                                <td>
                                    <a href="./class-single.html" class="Hip-Hop">
                                        Hip-Hop
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Jazz">
                                        Jazz
                                    </a>
                                </td>
                                <td>

                                </td>
                                <td>
                                    <a href="./class-single.html" class="Latin">
                                        Latin
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Jazz">
                                        Jazz
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Hip-Hop">
                                        Hip-Hop
                                    </a>
                                </td>
                                <td></td>
                            </tr>


                            <tr>
                                <th>20:00 - 21:00</th>
                                <td>
                                    <a href="./class-single.html" class="Jazz">
                                        Jazz
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Jazz">
                                        Jazz
                                    </a>
                                </td>
                                <td>
                                    <a href="./class-single.html" class="Latin">
                                        Latin
                                    </a>
                                </td>
                                <td>

                                </td>
                                <td>
                                    <a href="./class-single.html" class="Jazz">
                                        Jazz
                                    </a>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </section>
{% endif %}
