
<section id="copyright" class="dark_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>
                  <strong>&copy; {{ site.title }} - 2017 </strong>
                </p>
                <p>
                  <strong>Telefone:</strong> {{ site.phone_number }}
                </p>
                <p>
                  <strong>Email:</strong> <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </p>
            </div>
        </div>
    </div>
</section>
