
<section id="copyright" class="dark_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center ">
                <p>
                  <strong>&copy; {{ site.title }} - 2017 </strong>
                </p>
                <p>
                  Telefone:<strong> {{ site.phone_number }}</strong>
                </p>
                <p>
                  Email: <strong><a href="mailto:{{ site.email }}">{{ site.email }}</a></strong>
                </p>
            </div>
        </div>
    </div>
</section>
