<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a class="navbar-brand text-center" href="#top">Compassos<span>Gyn</span></a>
                <span id="toggle_mobile_menu"></span>
                <nav id="mainmenu_wrapper">
                    <ul id="mainmenu" class="nav sf-menu">
                        <li class="active">
                            <a href="index.html">Principal</a>
                        </li>
                        <li>
                            <a href="sobre.html">Páginas</a>
                            <ul>
                                <li>
                                    <a href="sobre.html">Sobre nós</a>
                                </li>
                                <li>
                                    <a href="service.html">Serviços</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="galeria.html">Galeria</a>
                        </li>
                        <li>
                            <a href="blog.html">Blog</a>
                        </li>
                        <li>
                            <a href="contato.html">Contato</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</header>
