<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a class="navbar-brand text-center" href="#top">dance<span>studio</span></a>
                <span id="toggle_mobile_menu"></span>
                <nav id="mainmenu_wrapper">
                    <ul id="mainmenu" class="nav sf-menu">
                        <li class="active">
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="about.html">Pages</a>
                            <ul>
                                <li>
                                    <a href="about.html">About Us</a>
                                </li>
                                <li>
                                    <a href="service.html">Service</a>
                                </li>
                                 <li>
                                    <a href="timetable.html">Timetable</a>
                                </li>
                                <li>
                                    <a href="class-single.html">Single Class</a>
                                </li>
                                <li>
                                    <a href="icons.html">Icons</a>
                                </li>
                                <li>
                                    <a href="animation.html">Animation</a>
                                </li>
                                <li>
                                    <a href="shortcodes.html">Shortcodes&amp;Widgets</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="gallery.html">Gallery</a>
                        </li>
                        <li>
                            <a href="blog.html">Blog</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</header>
